<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->

<main>
    <section class="project-section">
        
        
        <div class="project">
            <img src="/images/project1.jpg" alt="Project 1">
            <img src="/images/project2.jpg" alt="Project 2">
            <img src="/images/project3.jpg" alt="Project 3">
            <img src="/images/project4.jpg" alt="Project 4">
            <h3>Project 1</h3>
            <p>
                I played a key role in developing this project. It involved building a
                responsive e-commerce website with advanced payment processing capabilities.
            </p>
        </div>
        
        <!-- Repeat the above block for each project -->
        
    </section>
</main>


