<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->
 
 <main class="container" style="background-color: lightgray;">
 <div class="jumbotron">

   <blockquote><b> The services we offer are listed below
   </b></blockquote>

   <ul>
     <li> <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
      Oracle Base Database Service is an automated
       database service that runs Oracle Database Enterprise Edition and Standard Edition workloads on flexible virtual machine (VM) shapes in Oracle Cloud Infrastructure (OCI). </b></p>
       <img src="/images/service1.png" style: width="400px"; height="400px" ></li>
     <li> 
       <p style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: x-large;" ><b>
        Visual Studio Code is a free coding editor that helps you start coding quickly. Use it to code in
         any programming language, without switching editors. Visual Studio Code has support for many languages, including Python, Java, C++, JavaScript, and more.</b></p>
       <img src="/images/service2.jpg" style: width="400px"; height="400px" ></li>
   </ul>
   </div>

    
   </main>


