<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 --> 
     <main class="container" style="background-color: lightgray;">
      <main class="custom-container">
        <!-- Add this CSS block within the <style> tag in your HTML or in an external CSS file -->
    
        <style>
                       
            .container {
          max-width: 1000px; /* Adjust the width as needed */
          margin: 0 auto; /* Center the container on the page */
       
          padding: 20px; /* Add some padding for spacing */
          
            }
        </style>
      <h2><span lang="en-ca">Student Profile</span></h2>
     <p>I go by the name Gian Paulo Desiderio, currently enrolled in my third semester of the Software Engineering Technician program at Centennial College. My background includes 
       prior work in IT Solutions, particularly in the technical field. However, I've chosen to further my expertise in the IT industry through the pursuit of Software Programming.</p>
 
       <a href="Assets/images/resume.pdf" class="btn btn-primary">Download My Resume (PDF)</a>           
        <aside>
            <figure style="text-align: center;">
              <img src="Assets/images/gianimg.jpg" width="300" height="400" alt="gianphoto" style="display: block; margin: 0 auto;">          
              <br>Phone: (647) 936-3582
              <br>Email: <a href="mailto:gdeside1@my.centennialcollege.ca">gdeside1@my.centennialcollege.ca</a>
            </figure>
         
            </aside> 
              <footer style="text-align: center;">
                Copyright &copy; 2023
                  </footer>

 </body>
 </html>