
<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->
 <link href="Styles.css" rel="stylesheet" type="text/css">
<div class="home"></div>

<div class="home-welcome">Welcome</div>
<div class="home-title">I am Gian Desiderio</div>
<main class="container" style="background-color: lightgray;">
  <h2><span lang="en-ca">Mission Statement</span></h2>
   <p>“To enable people and businesses throughout the world to realize their full potential.” “To organize the world's information and make it universally accessible and useful.”</p>
   <h2><span lang="en-ca">Web Application Development</span></h2>
   <p>Web Application Development is the third course in a sequence of web courses, following COMP213 Web Interface Design and COMP125 Client-Side Web Development. In this course, students will learn how to design, code, and test a full-stack web application.

    The major topics covered in COMP229 include frontend and backend development, connecting to various databases or data stores to query or manipulate data and display the results in the browser, securing and deploying complex web applications on production servers.
    
    Students will apply various open-source frontend and backend frameworks to build a web application and API.</p>

<a class="btn btn-primary home-about-btn" href="/about" role="button">About Me</a>
</main>
</div>

