<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->

 <main class="custom-container">
    <!-- Add this CSS block within the <style> tag in your HTML or in an external CSS file -->

    <style>
        .project-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .project {
            text-align: center;
            margin: 10px; /* Add some spacing between projects if desired */
        }
        
        .project img {
           width: 300px ;
           height: 300px;
        }
        .custom-container {
      max-width: 2000px; /* Adjust the width as needed */
      margin: 0 auto; /* Center the container on the page */
      background-color: lightgray;
      padding: 120px; /* Add some padding for spacing */
      
        }
    </style>
           
    <section class="project-section">
        <div class="project">
            
            <img src="Assets/images/project1.jpg" alt="Project 1">
            <h3 style="color: black; ">Project 1</h3>
            <p style="color: black; font-size: 18px;">
                This is a Hands-on Project from my Semester 2 Web Development.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/assignment4/12-04/project12-04.html"  font-size: 20px;>View it here!!</a>
          
        </div>
        <div class="project">
            <img src="Assets/images/project2.jpg" alt="Project 2">
            <h3 style="color: black; ">Project 2</h3>
            <p style="color: black; font-size: 18px;">
                This is my Final Project from my Web development semester 2 billing address.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/midterm/index.html"  font-size: 20px;>View it here!!</a>
        </div>
        <div class="project">
            <img src="Assets/images/project3.jpg" alt="Project 3">
            <h3 style="color: black; ">Project 3</h3>
            <p style="color: black; font-size: 18px;">
               This is a hands on project User Form.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/assignment4/12-05/project12-05_txt.html"  font-size: 20px;>View it here!!</a>
            </div>
            <div class="project">
                <img src="Assets/images/project4.jpg" alt="Project 4">
                <h3 style="color: black; ">Project 4</h3>
                <p style="color: black; font-size: 18px;">
                 This is my final project from WEB development semester 1 Real state static website.
                </p>
                
                
                <a href="http://studentweb.cencol.ca/gdeside1/finalproject/home.html"  font-size: 20px;>View it here!!</a>
        <!-- Repeat the above block for each project -->
        
    </section>
</main>
