<!-- 
Name: Gian Desiderio
Student id: 301296686
Date: 10-06-2023
 -->

 <main class="container" style="background-color: lightgray;">
    <!-- Add this CSS block within the <style> tag in your HTML or in an external CSS file -->

    <style>
        .project-section {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .project {
            text-align: center;
            margin: 10px; /* Add some spacing between projects if desired */
        }
        
        .project img {
            max-width: 100%;
           max-height: 100%;
        }
    </style>
           
    <section class="project-section">
        <div class="project">
            
            <img src="Assets/images/project1.jpg" alt="Project 1">
            <h3 style="color: black; ">Project 1</h3>
            <p style="color: black; font-size: 18px;">
                I played a key role in developing this project. It involved building a
                responsive e-commerce website with advanced payment processing capabilities.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/assignment4/12-04/project12-04.html"  font-size: 20px;>View it here!!</a>
          
        </div>
        <div class="project">
            <img src="Assets/images/project2.jpg" alt="Project 2">
            <h3 style="color: black; ">Project 2</h3>
            <p style="color: black; font-size: 18px;">
                I played a key role in developing this project. It involved building a
                responsive e-commerce website with advanced payment processing capabilities.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/midterm/index.html"  font-size: 20px;">View it here!!</a>
        </div>
        <div class="project">
            <img src="Assets/images/project3.jpg" alt="Project 3">
            <h3 style="color: black; ">Project 3</h3>
            <p style="color: black; font-size: 18px;">
                I played a key role in developing this project. It involved building a
                responsive e-commerce website with advanced payment processing capabilities.
            </p>
            <a href="http://studentweb.cencol.ca/gdeside1/comp125/assignment4/12-05/project12-05_txt.html"  font-size: 20px;">View it here!!</a>
            </div>
            <div class="project">
                <img src="Assets/images/project4.jpg" alt="Project 4">
                <h3 style="color: black; ">Project 4</h3>
                <p style="color: black; font-size: 18px;">
                    I played a key role in developing this project. It involved building a
                    responsive e-commerce website with advanced payment processing capabilities.
                </p>
                
                
                <a href="http://studentweb.cencol.ca/gdeside1/finalproject/home.html"  font-size: 20px;">View it here!!</a>

                </div>

        
        <!-- Repeat the above block for each project -->
        
    </section>
</main>
